<head>
	<meta charset="utf-8">
	
	<title>{{site.site_name}}</title>
	<meta name="description" content="200 to Texas is a daily personal design challege that explores icons of Texas.">
	<meta name="keywords" content="sean day, austin texas, tejas, denver colorado, web design, illustration, icons">
	
	<!-- let's share stuff -->
	<meta property="og:site_name" content="{{site.site_name}}">
	<meta property="og:url" content="http://texas.seanday.me">
	<meta property="og:title" content="200 to Texas">
	<meta property="og:image" content="#">
	<meta property="og:description" content="200 to Texas is a daily personal design challege that explores icons of Texas.">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	
	<!-- let's make it fit -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- let's make it pretty -->
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<!-- let's add some other goodies -->
	<link rel="shortcut icon" type="image/x-icon" href="#">
	
</head>