body {
  font: 62.5%/1.5 Georgia, Serif;
  background: white url("../img/bg-pattern.jpg") repeat;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  text-align: center;
}

img {
  max-width: 100%;
}

#header h1 {
  font-family: "Prova";
  font-size: 7em;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px white;
  background: transparent url("../img/texas.png") 50% no-repeat;
  padding: 70px 0 60px;
  margin: -10px 0;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 1px;
}
#header h1:before {
  content: "200 to Texas";
  text-transform: uppercase;
  position: absolute;
  left: 25%;
  -webkit-mask: url("../img/mask.png");
  color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

nav {
  font-size: 2.2em;
  font-family: "Prova";
}
nav > ul > li {
  display: inline-block;
  margin: 0 10px;
  color: #d7d8c9;
}
nav > ul > li > a {
  color: #d7d8c9;
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: #ffd200;
}

div.social {
  font-size: 1.6em;
  font-family: "Georgia";
}
div.social > ul > li {
  display: inline-block;
  margin: 0 10px;
}
div.social > ul > li > a {
  color: #2b2b2b;
  text-decoration: none;
}
div.social > ul > li > a:hover {
  color: #ffd200;
}

section.post {
  text-align: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #d7d8c9;
  margin-bottom: 50px;
}
section.post > img {
  margin-top: 10px;
}
section.post > h2 {
  margin-top: 50px;
  font-size: 3.5em;
  line-height: 0;
  font-family: "Prova";
}
section.post > h2 > a {
  color: #ffd200;
  text-decoration: none;
}
section.post > h2 > a:hover {
  text-decoration: underline;
}
section.post > p {
  font-size: 2em;
  color: #2b2b2b;
}
section.post > p a.more {
  text-decoration: none;
  color: #2b2b2b;
}
section.post > p a.more:hover {
  color: #ffd200;
}

section.archive {
  padding-bottom: 25px;
  border-bottom: 1px solid #d7d8c9;
  margin-bottom: 25px;
}
section.archive > h2 {
  margin: 50px 0;
  font-size: 3.5em;
  line-height: 0;
  font-family: "Prova";
  color: #ffd200;
}
section.archive > ul > li {
  display: block;
  list-style: none;
  text-align: left;
  font-size: 2.2em;
  font-family: "Prova";
  margin: 15px 0;
}
section.archive > ul > li > span.post-date {
  color: #2b2b2b;
}
section.archive > ul > li > span.post-title a {
  color: #2b2b2b;
  text-decoration: none;
}
section.archive > ul > li > span.post-title a:hover {
  color: #ffd200;
}

a {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
a:hover {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

nav#footer-nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #d7d8c9;
  margin-bottom: 20px;
}

::selection, ::-moz-selection {
  background-color: rgba(193, 193, 193, 0.5);
}

.color-of-the-day {
  color: #ffd200;
}
